@import url(./modules/reset.css);

@import url("./modules/loading.css");
:root {
  --color-main: aquamarine;
  --font-sans: sans-serif;
}

html {
  font-size: 18px;
  color: var(--color-body);
  font-family: var(--font-interface);
  scrollbar-gutter: stable;
  height: 100vh;
  overflow: hidden;
}

img {
  /* // to keep the same idea than the builder */
  position: absolute;
  /* object-fit: contain; */
}

.plan {
  display: none;
}

.plan:target {
  display: block;
}

.previousPlan,
.nextPlan {
  position: fixed;
  top: 48vh;
  font-size: 1.3em;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-main);
}

.previousPlan {
  left: 2ch;
}
.nextPlan {
  right: 2ch;
}

/* // toc */

#sequence-toc {
  font-family: var(--font-sans);
  width: 100vw;
  padding: 0;
  margin: 0;
  position: fixed;
  /* background: aquamarine; */
  bottom: 0;
  display: flex;
  font-size: 1.2em;
  gap: 0 1ch;
  list-style-type: none;
}

#sequence-toc .selected {
  color: orange;
}

#story {
  container-name: preview;
  container-type: size;
  width: 100vw;
  height: 100vh;
}

#story img {
  height: auto !important;
}
