/* III. assets */

#assets {
  position: fixed;
  top: 30vh;
  left: 30vw;
  padding: 1em;
  background: white;
  display: block;
  min-height: 400px;
  max-height: 70vh;
  overflow: auto;
}

#assets #assetsList {
  padding: 0;
  margin: 0;
  margin-top: 3em;
  gap: 10px;
  list-style-type: none;
  overflow-y: auto;
  max-height: 80vh;
  flex-wrap: wrap;
}

#assets #assetsList li {
  display: grid;
  width: 100%;
  align-items: baseline;
  grid-template-columns: [img-start] 100px [img-end name-start] 1fr [name-end];
  border-bottom: 1px solid grey;
  gap: 0 2ch;
  align-items: end;
  padding-bottom: 0.4em;
}

#assets #assetsList li img {
  padding: 0.2em 0.4ch;
  border: 1px solid grey;
  cursor: pointer;
  max-height: 100px;
}

#assets h3 {
  font-size: 1em;
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: 400;
}

#filterreset {
  display: none;
}

#filterreset:has(+ .searchmode) {
  display: inline;
}

.searchmode li {
  display: none !important;
}

.searchmode .is-found {
  display: grid !important;
}
