/* III. assets */

#assets {
  position: fixed;
  top:30vh;
  left: 30vw;
  padding: 1em;
  background: white;
  display: block;
  min-height: 400px;
  max-height:90vh;
  
}

#assets #assetsList {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top:3em;
  gap: 10px;
  list-style-type: none;
  overflow-y: auto;
  max-height: 80vh;
  flex-wrap: wrap;
  
}

#assets #assetsList li {
  border: 1px solid black;
  padding:10px;
  max-width: 150px;
  min-width: 200px;
}
