#layer-space {
  min-width: 40ch;
  max-height: 89vh;
}
.selectedLayer {
  background: #eee;
  color: var(--color-main);
}

.confirm {
  font-weight: 600;
  color: red;
}

.hidden {
  color: lightgrey; 
}


