html {
  font-size: 18px;
  color: var(--color-body);
  font-family: var(--font-interface);
  scrollbar-gutter: stable;
  height: 100vh;
  overflow: hidden;
}

main#appWrap {
  height: 100vh;

  background: var(--color-app-wrapp);
  /* display: grid; */
  display: flex;
  scrollbar-gutter: stable;
  /* grid-template-rows: [meta-start] 80px [meta-end preview-start] 1fr [preview-end montage-start] auto [montage-end]; */
  /*start latyou*/
  --preview-width: 1000px;
  --preview-height: 700px;
}

/*I. preview*/
#preview {
  background: var(--color-preview, unset);
  display: block;
  margin: auto;
}

#preview #previewScreen {
  width: var(--preview-width);
  height: var(--preview-height);
  /* border: 1px solid var(--color-body); */
  margin: auto;
  background: var(--color-previewScreen, unset);
  overflow: hidden;
  position: relative;
  grid-column: 1/-1;
  box-shadow: 0 0 0 1px var(--color-body, black), 0 0 0 10px rgb(200, 200, 200, 0.2);
      resize: both;
  }

  #preview #previewScreen::before {
    position: absolute;
    content: "" attr(data-width) "px × " attr(data-height) "px";
    position: absolute;
    text-align: right;
    width: 100%;
    margin: 0;
    display: block;
    bottom: 0;
    font-size:.7em;
    left: 0;
    background: lightgrey;
    padding: .3em .5ch;
    width: max-content;
    z-index: 1em;
  }

  #preview.fullscreen #previewScreen {
    position: fixed;
    inset: 0;
    z-index: 1000;
    width: 100vw !important;
    height: 100vh !important;
  }

  #preview.portrait {
    --min-width: 400px;
    --min-height: 700px;
  }

  #preview.landscape {
    --min-width: 800px;
    --min-height: 450px;
  }

  /* /plan */
  #previewScreen article {
    display: none;
  }

  #previewScreen article.shown {
    display: block;
  }

  /* pelure d’oignon */

  .showPrevious #previewScreen article.oldshown {
    display: block !important;
  }

  .showPrevious #previewScreen article.oldshown * {
    opacity: 0.4;
    /* background: cyan; */
    mix-blend-mode: multiply;
  }

  .showPrevious .oldshown + .shown {
    opacity: 0.6;
  }

  /*keep the button up.*/

  .fullscreen #fullPageWatcher {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    z-index: 10000;
  }

  /*II. montage*/

  #banc-montage {
    background: var(--color-montage-order, white);
    max-width: 800px;
  }

  #banc-montage.show {
    display: unset;
    min-height: 200px;
  }

  #planOrder {
    position: fixed;
    bottom: 0;
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0 auto;
    gap: 1ch;
    flex-wrap: wrap;
    width: 100%;
    align-items: space-around;
    height: 3em;
    /* overflow-y: auto; */
    font-size: 0.8em;
    padding-top: 12px;
    border-top: 1px solid grey;
    background: white;
    overflow-y: scroll;
  }

  #planOrder li a {
    color: inherit;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
  }

  #planOrder {
    counter-reset: planNum;
  }

  #planOrder li a::after {
    content: counter(planNum);
    counter-increment: planNum;
  }

  #planOrder li a.selected {
    color: var(--color-main);
    font-weight: 900;
  }

  /* 3. the contextual menu */

  #contextualUI {
    font-size: 0.8em;
    top: 2em;
    left: 2em;
    min-height: auto;
    z-index: 1000;
    background: white;
    position: fixed;
    /* display: none; */
  }

  #contextualUI.show .manip {
    display: flex;
    flex-direction: column;
  }

  #contextualUI .manip button {
    text-transform: uppercase;
    width: 80%;
    margin: 1em auto;
  }

  .moveButton {
    position: absolute;
    top: 50%;
  }
