html {
  font-size: 18px;
  color: var(--color-body);
  font-family: var(--font-interface);
  scrollbar-gutter: stable;
  height: 100vh;
  overflow: hidden;
}

main#appWrap {
  height: 100vh;
  /* background: var(--color-app-wrapp); */
  /* display: grid; */
  display: flex;
  scrollbar-gutter: stable;
  /* grid-template-rows: [meta-start] 80px [meta-end preview-start] 1fr [preview-end montage-start] auto [montage-end]; */
  /*start latyou*/
  --preview-width: 50vw;
  --preview-height: 50vh;
}

/*I. preview*/
#preview {
  background: var(--color-preview, unset);
  display: block;
  margin: auto;
}

#preview #previewScreen {
  width: var(--preview-width);
  height: var(--preview-height);
  border: 1px solid var(--color-body);
  margin: auto;
  background: var(--color-previewScreen, unset);
  resize: both;
  overflow: hidden;
  position: relative;
  grid-column: 1/-1;
  box-shadow: 0 0 0 10px rgb(200,200,200,0.2);
}


#preview.fullscreen #previewScreen {
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: 100vw !important;
  height: 100vh !important;
}

#preview.portrait {
  --min-width: 400px;
  --min-height: 700px;
}
#preview.landscape {
  --min-width: 800px;
  --min-height: 450px;
}

/* /plan */
#previewScreen article:not(.shown) {
  display: none;
}

#previewScreen article.shown {
  display: block;
}

/*keep the button up.*/
.fullscreen #fullPageWatcher {
  position: fixed;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  z-index: 10000;
}

/*II. montage*/

#banc-montage {
  background: var(--color-montage-order, white);
  max-width: 800px;
}
#banc-montage.show {
  display: unset;
  min-height: 200px;
}

#banc-montage #planOrder {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0 auto 1em;
  gap: 2ch;
  flex-wrap: wrap;
  width: 100%;
  align-items: space-around;
}

#banc-montage #planOrder li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  text-decoration: none;
}

#planOrder {
  counter-reset: planNum;
}

#banc-montage #planOrder li a::after {
content: counter(planNum);
counter-increment: planNum;
}

/* 3. the contextual menu */

#contextualUI {
  min-height: auto;
  z-index: 1000;
  background: white;
  position:fixed;
  display: none;
}

#contextualUI.show {
  display: block;
}


.moveButton {
  position: absolute;
  top:50%;
}
