#loading {
  inset: 0;
  position: fixed;
  z-index: 2000;
  background: rgb(230, 230, 230, 0.9);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 999999999999999999999999999999;
}

.box {
  /* margin: auto; */
  display: flex;
  background: white;
  border-radius: 3em;
  flex-direction: column;
  /* height: 100px; */
  position: relative;
  padding: 1em;
}
#dots {
  margin: auto;
  display: flex;
  align-items: center;
}

.box::after {
  position: absolute;
  height: 30px;
  width: 40px;
  background: white;
  display: block;
  bottom: -20px;
  right: 0;
  content: "";
  clip-path: polygon(0 0, 0% 100%, 42% 0);
  justify-content: space-around;
}
.dot {
  opacity: 0;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: grey;
  margin: 0 5px;
  animation: blink 1000ms infinite;
}
#dot1 {
  animation-delay: 50ms;
}

#dot2 {
  animation-delay: 100ms;
}
#dot3 {
  animation-delay: 150ms;
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  /* 80% { */
  /**/
  /*  opacity: 1; */
  /* } */
  100% {
    opacity: 0;
  }
}

#loading p {
  
  font-style: italic;
  text-align: center;
}

#loading.hide {
  display: none;
}
