img {
  /*keep object fit contain and allow resize of the block*/
  object-fit: contain;
}

#layer-space {
  font-size: 0.8em;
  min-width: 40ch;
  max-height: 89vh;
}

#layer-space h2 {
  margin: 0;
}

#layer-space ul {
  /* font-size: 0.8em; */
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

#layer-space li {
  border-bottom: 1px solid gray;
  display: grid;
  gap: 1ch;
  grid-template-columns: 2ch 3ch auto 2ch 2ch ;
}

.hidebutton {
  margin-left: auto;
  text-align: right;
}

.selectedLayer {
  background: #eee;
  color: black;
  font-weight: 600;
}

.confirm {
  font-weight: 800;
  color: red;
}


/* hidden */
.hidden {
  color: lightgrey;
}
img.asset-hidden {
  opacity: 0;
  z-index: -100;
}
img.asset-hidden.asset-selected {
  opacity: 0.05;
}

/*previewOnTop*/
.previewedTop .preview {
  color: var(--color-main);
}
.asset.previewTop {
  z-index: 10000;
  border: 2px dashed grey;
}

