#previewScreen article>* {
  position: absolute;
}

.movebutton {
  background: black;
  color: white;
  border: 2px solid black;
  display: flex;
  margin: auto;
  font-size: 35px;
  padding: 0 0.5ch;
}

#previewNext {
  position: absolute;
  right: 0;
  top: 48%;
  z-index: 1000;
}

#previewPrevious {
  position: absolute;
  left: 0;
  top: 48%;
  z-index: 1000;
}

#previewScreen .asset-selected {
  box-shadow: 0 0 0 3px var(--color-main);
  z-index: 100;
  /* opacity: .9; */
}

.activeStylesheet {
  font-weight: 800;
}

.disabled {
  color: grey;
  color: red;
}

#previewScreen {
  container-name: preview;
  container-type: size;
}
