/* fonts */

@font-face {
  font-family: "bricolage";
  src: url("../fonts/bricolagegrotesque[opsz\,wdth\,wght].ttf");
  font-weight: 100 900;
  font-style: normal italic;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/inter.var.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal italic;
}

@font-face {
  font-family: monaspace;
  src: url("../fonts/monaspaceradonvarvf[wght\,wdth\,slnt].ttf");
  font-weight: 200 800;
}

/* variables */
:root {
  --color-main: rgb(215, 105, 140, 1);
  --color-main: rgb(30, 88, 178);
  --color-main-light: rgb(215, 105, 140, 0.3);
  --color-body: #121212;
  /* --font-interface: "monaspace"; */
  --font-interface: "monaspace";
  --font-ui: "inter";
  --font-ui: "bricolage";
  /*screen minimal size*/
  --min-height: 800px;
  --min-width: 400px;
  /*layout coloros*/
  --color-grey: hsl(0, 0%, 95%);
  --color-montage: white;
  --color-preview: hsl(0, 0%, 80%);
  --color-asset: hsl(0, 0%, 80%);
  --color-app-wrapp: hsl(0, 0%, 80%);
  --color-preview: hsl(0, 0%, 95%);
  --color-previewScreen: hsl(0, 0%, 100%);
  --color-montage-order: white;
  --color-app-wrapp: hsl(0, 0%, 90%);
  --color-assets-background: hsl(0, 0%, 70%);
  --hidden: 0;
}

img::selection {
  background: transparent;
}
