/* fonts */

@font-face {
  font-family: 'inter';
  src: url('../fonts/inter.var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal italic;
}

/* variables */

:root {
  --color-main: rgb(215, 105, 140, 1);
  --color-body: #121212;
  --font-interface: 'inter';
  /*screen minimal size*/
  --min-height: 800px;
  --min-width: 400px;
  /*layout coloros*/
  --color-montage: white;
  --color-preview: hsl(0, 0%, 80%);
  --color-asset: hsl(0, 0%, 80%);
  --color-app-wrapp: hsl(0, 0%, 80%);
  --color-preview: hsl(0, 0%, 95%);
  --color-previewScreen: hsl(0, 0%, 100%);
  --color-montage-order: white;
  --color-app-wrapp: hsl(0, 0%, 90%);
--color-assets-background: hsl(0, 0%, 70%);

--hidden: 0;
}
